venv/
node_modules
.gitignore
package-lock.json
quotes.csv
.vs/ProjectSettings.json
.vs/slnx.sqlite
.vs/VSWorkspaceState.json
faiss_index/index.faiss
faiss_index/index.pkl
.vs/PythonSettings.json
frontend/src/reportWebVitals.js
